.faq {
    background-color: var(--bg-color-1);
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/src/img/question.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    .faq__title {
        width: 100%;
        font-size: min(2.5rem, 4.8vw);
        font-weight: bold;
        text-align: center;
        background-color: var(--bg-color-2);
        opacity: 0.6;
        text-transform: uppercase;
    }
}

.faq__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min(1400px, 100%);
    padding: 75px 15px;
    margin: auto;
    
}

.faq__item {
    background-color: var(--bg-color-2);
    margin-bottom: 15px;
    height: auto;
    overflow: hidden;
    box-shadow: -3px 4px 17px 2px #00000069;
    cursor: pointer;

    .faq__sumary {
        padding: 15px;
        font-size:1rem;
        font-weight: bold;
        background-color: var(--bg-color-2);
    }

    p{
        padding: 0 15px 15px 15px;
        font-size: 0.89rem;
        color: var(--text-color-2);
    }

}