.about {
    background-color: var(--bg-color-2);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-image: url("./src/img/bg-tenis.jpg");
    background-size: cover;
    background-position: center;
    

    .about__title {
        font-size: min(2.5rem, 4.8vw);
        font-weight: bold;
        text-align: center;
        background-color: var(--bg-color-1);
        opacity: 0.6;
        text-transform: uppercase;
    }
}

.about__container {
    display: flex;
    width: min(1400px, 100%);
    margin: auto;
    box-shadow: -3px 4px 17px 2px #1d1d1d69;
    padding: 0 15px;
}

.about__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: var(--bg-color-1);
    padding: 15px;


    p {
        font-size: 1rem;
        font-weight: 500;
        color: var(--text-color-2);
    }

}

.about_video {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-1);
    padding: 15px;

    iframe {
        width: 100%;
        border: none;
    }
}

@media (max-width: 1250px) {
    .about__container {
        flex-direction: column;
    }

    .about__text,
    .about_video {
        width: 95%;
        margin: auto;
    }

    .about_video {
        iframe {
            width: 100%;
            height: 100%;
            max-height: 600px;
        }
    }

}