.contact {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact__h2 {
        width: 100%;
        font-size: min(2.5rem, 4.8vw);
        font-weight: bold;
        text-align: center;
        background-color: var(--bg-color-2);
        opacity: 0.6;
        text-transform: uppercase;
    }
}

.contact__content{
    display: flex;
    justify-content: center;
    width: min(1400px, 95%);
    margin: auto;
    background-color: var(--bg-color-2);
    box-shadow: -3px 4px 17px 2px #00000069;
    padding: 15px;
}

.contact__ways{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 15px;
    }

    p{
        font-size: 1.3rem;
        margin-bottom: 10px;
        i{
            color: var(--primary-color);
        }
    }
}

.contact__form{
    width: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: -3px 4px 17px 2px #00000069;
    padding: 15px;
    border-radius: 10px;

    input[type="text"], 
    input[type="email"]{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid var(--text-color-2);
        border-radius: 5px;
    }

    textarea{
        width: 100%;
        height: 100px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid var(--text-color-2);
        border-radius: 5px;
        resize: vertical;
    }

    button{
        padding: 15px;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--text-color-3);
        background-color: var(--primary-color);
        border: none;
        cursor: pointer;
    }
}

@media (max-width: 1000px) {
    .contact__content{
        flex-direction: column;
    }

    .contact__ways,
    .contact__form{
        width: 95%;
        margin: auto;
        margin-bottom: 15px;
    }
}
