.slider {
    display: flex;
    width: min(1400px, 100%);
    margin: auto;
    padding: 0 15px;
    height: 100dvh;
}

.slider__text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    gap: 30px;

    h2 {
        font-size: min(3rem, 4.8vw);
    }

    p {
        font-size: min(1rem, 1.7vw);
    }

    button {
        padding: 15px;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--text-color-3);
        background-color: var(--primary-color);
        border: none;
        cursor: pointer;
    }
}

.slider__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.slider__contentImg {
    img {
        aspect-ratio: 1/1;
        object-fit: contain;
        width: min(700px, 100%);
        transform: scaleX(-1);
        filter: drop-shadow(-12px 0px 100px #ff880057);
    }
}

.slider__contentBtns {
    display: flex;
    gap: 15px;

    button {
        background: none;
        border: none;
        border-radius: 10px;
        box-shadow: -3px 4px 17px 2px #00000069;
        transition: transform ease 0.3s;

        &:hover {
            transform: scale(1.05, 1.05);
        }

        img {
            aspect-ratio: 16/9;
            object-fit: contain;
            width: calc(75px - (-8vw));
            max-width: 200px;
            transform: scaleX(-1);
            cursor: pointer;
        }
    }
}

@media (max-width: 750px) {
    .slider {
        flex-direction: column-reverse;
        gap: 30px;
        padding-bottom: 30px;
    }

    .slider__text,
    .slider__content {
        width: 100%;
    }

    .slider__text {
        justify-content: center;
        align-items: center;

        h2 {
            width: min(600px, 80vw);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
        }

        p {
            display: none;
        }
    }

    .slider__contentImg {
        img {
            max-width: 600px;
        }
    }

}